In [1]:
import pandas as pd
import numpy as np

In [70]:
raw_data = pd.read_csv('data/train.csv', encoding = 'Big5')
raw_data = raw_data.drop(['日期', '測站', '測項'], axis = 1)
# raw_data = raw_data.drop(['日期', '測站'], axis = 1)
raw_data = raw_data.replace('NR', -1)
raw_data = raw_data.astype(np.float)


raw_data

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,14.00,14.00,14.00,13.00,12.00,12.00,12.00,12.00,15.00,17.00,...,22.00,22.00,21.00,19.00,17.00,16.00,15.00,15.00,15.00,15.00
1,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,...,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80
2,0.51,0.41,0.39,0.37,0.35,0.30,0.37,0.47,0.78,0.74,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,0.20,0.15,0.13,0.12,0.11,0.06,0.10,0.13,0.26,0.23,...,0.10,0.13,0.14,0.23,0.18,0.12,0.10,0.09,0.10,0.08
4,0.90,0.60,0.50,1.70,1.80,1.50,1.90,2.20,6.60,7.90,...,2.50,2.20,2.50,2.30,2.10,1.90,1.50,1.60,1.80,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,1.80,1.80,1.80,1.80,1.80,1.70,1.70,1.80,1.80,1.80,...,1.80,1.80,2.00,2.10,2.00,1.90,1.90,1.90,2.00,2.00
4316,46.00,13.00,61.00,44.00,55.00,68.00,66.00,70.00,66.00,85.00,...,59.00,308.00,327.00,21.00,100.00,109.00,108.00,114.00,108.00,109.00
4317,36.00,55.00,72.00,327.00,74.00,52.00,59.00,83.00,106.00,105.00,...,18.00,311.00,52.00,54.00,121.00,97.00,107.00,118.00,100.00,105.00
4318,1.90,2.40,1.90,2.80,2.30,1.90,2.10,3.70,2.80,3.80,...,2.30,2.60,1.30,1.00,1.50,1.00,1.70,1.50,2.00,2.00
4319,0.70,0.80,1.80,1.00,1.90,1.70,2.10,2.00,2.00,1.70,...,1.30,1.70,0.70,0.40,1.10,1.40,1.30,1.60,1.80,2.00

In [ ]:
# raw_data.at[10, '1']
#raw_data.loc[10] 一行的数据 + label

In [173]:
all_pm2_5 = raw_data.loc[[x for x in range(raw_data.shape[0]) if x % ITEM_NUM == PM2_5_INDEX]]
all_pm2_5.reset_index(drop = True, inplace = True)
all_pm2_5

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,26.0,39.0,36.0,35.0,31.0,28.0,25.0,20.0,19.0,30.0,...,36.0,45.0,42.0,49.0,45.0,44.0,41.0,30.0,24.0,13.0
1,21.0,23.0,30.0,30.0,22.0,18.0,13.0,13.0,11.0,22.0,...,53.0,43.0,43.0,45.0,46.0,32.0,16.0,19.0,22.0,26.0
2,19.0,25.0,27.0,20.0,16.0,14.0,15.0,8.0,4.0,9.0,...,32.0,36.0,34.0,45.0,40.0,41.0,23.0,29.0,23.0,37.0
3,27.0,27.0,14.0,20.0,22.0,24.0,26.0,33.0,48.0,50.0,...,62.0,55.0,56.0,67.0,78.0,83.0,90.0,75.0,85.0,82.0
4,80.0,80.0,76.0,81.0,75.0,66.0,70.0,65.0,66.0,57.0,...,64.0,73.0,57.0,57.0,53.0,70.0,70.0,60.0,68.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,5.0,9.0,17.0,26.0,33.0,32.0,24.0,16.0,16.0,21.0,...,8.0,16.0,28.0,37.0,39.0,36.0,36.0,31.0,26.0,19.0
236,21.0,26.0,26.0,31.0,29.0,21.0,13.0,13.0,21.0,23.0,...,12.0,6.0,4.0,11.0,11.0,5.0,0.0,6.0,6.0,5.0
237,0.0,2.0,2.0,3.0,3.0,3.0,11.0,13.0,14.0,8.0,...,31.0,31.0,36.0,31.0,31.0,34.0,39.0,36.0,24.0,23.0
238,14.0,16.0,13.0,14.0,21.0,19.0,23.0,18.0,17.0,24.0,...,21.0,21.0,19.0,19.0,25.0,19.0,11.0,0.0,7.0,7.0
239,6.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,2.0,8.0,...,1.0,7.0,24.0,37.0,49.0,37.0,28.0,17.0,24.0,29.0

ok, 现在需要自己分割出 train set 与 validation set

In [123]:
ITEM_NUM    = 18 # CO CH4 ... WS_HR 一共 18 个测项
PM2_5_INDEX = 9 # pm2.5 的数据都在每一天数据的第 10 行
HOUR_NUM    = 9

In [183]:


# for item in all_pm2_5.iterrows():
#     print(item[1])
#     _all_pm2_5.insert(item[1])
#     _all_pm2_5 = pd.concat([_all_pm2_5, item[1]], axis = 0)
#     print(_all_pm2_5)


# x_train = pd.DataFrame(columns = [str(i) for i in range(9)])
x_train = np.array([]).reshape(0, 9) # 创建一个空的
x_train

# for i in range(0, all_pm2_5.shape[1] - HOUR_NUM):
# #     pre = all_pm2_5[[ str(x) for x in range(i, i + HOUR_NUM) ]]
#     pre   = all_pm2_5[[ str(x) for x in range(i, i + HOUR_NUM) ]]
# #     next_ = all_pm2_5[[ str(x) for x in range(i + 1, i + 1 + HOUR_NUM) ]]
#     x_train = x_train.append(pre, ignore_index = True)
#     print(x_train)

array([], shape=(0, 9), dtype=float64)

In [60]:
t = pd.DataFrame(columns)
t.insert()